name: build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential ccache ecj fastjar file g++ gawk \
            gettext git java-propose-classpath libelf-dev libncurses5-dev \
            libncursesw5-dev libssl-dev python python2.7-dev python3 unzip \
            wget python3-distutils python3-setuptools rsync subversion swig \
            time xsltproc zlib1g-dev

      - name: Install feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Configure
        run: |
          cp defconfig .config
          make defconfig

      - name: Download
        run: make download

      - name: Build
        run: make -j4

      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: openwrt
          path: bin
